<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Container</WebPublishMethod>
    <ContainerPublishMethod>NetSdk</ContainerPublishMethod>
    <ResourceId>/subscriptions/cbee0422-2012-43c7-8360-db09d57f8cc0/resourceGroups/DEV050/providers/Microsoft.ContainerRegistry/registries/hvo00</ResourceId>
    <ResourceName>hvo00</ResourceName>
    <ResourceGroup>DEV050</ResourceGroup>
    <Subscription>RoySalisbury_MSDN050</Subscription>
    <RegistryUrl>hvo00.azurecr.io</RegistryUrl>
    <UserName />
    <PublishImageTag>latest</PublishImageTag>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <RuntimeIdentifier>linux-arm64</RuntimeIdentifier>
    <ProjectGuid>35b7ecd6-22bd-4172-80d5-3b5b774d898e</ProjectGuid>
    <_TargetId>NetSdkAzureContainerRegistry</_TargetId>
    <SiteUrlToLaunchAfterPublish />
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <TargetFramework>net7.0</TargetFramework>
    <SelfContained>false</SelfContained>
  </PropertyGroup>
</Project>