@page "/"

<PageTitle>Home</PageTitle>

<div>
    The Hualapai Valley Observatory is named after the valley it is located in (the Hualapai Valley). It is located in
    northwestern Arizona approx 22 miles north of Kingman and about 40 miles south of Meadview. It is a private dark
    sky site for astronomical observations and, based on the Bortle Dark-Sky Scale, is located in an area that can be
    classified somewhere between a 2 and a 3. Some minor skyglow from the lights of Las Vegas can be seen on the northeast
    horizon up to about 10 degrees and even less of a skyglow on the southern horizon from Kingman.
</div>

<div style="margin: 10px 10px 0px 10px;">
    <h3><u>Latest Image</u></h3><br />

    <img class="img-thumbnail center-block" id="LI01" src="/images/NGC7023_RGB_Final.jpg" /><br />
</div>