<div class="">
    <div>
        <span>
            © Hualapai Valley Observatory
        </span>

        <span style="margin-left: 15px;">

            <a href="mailto:support@hualapaivalleyobservatory.org" style="color: #fff"><i class="fa fa-envelope"></i> support@hualapaivalleyobservatory.org</a> &nbsp;

        </span>
        <span style="margin-right: 35px;">
            Version: @ApplicationVersion
       </span>
    </div>
  
</div>
@code {
    private Version ApplicationVersion => new Version(1, 0);
}
