@inherits LayoutComponentBase

<header>
    <HeaderNavBar />
</header>

<main>
    <LeftSidebar />

    <article class="content">
        @Body
    </article>
</main>

<footer>
    <FooterNavBar />
</footer>
