@inherits LayoutComponentBase
<div>
    <RadzenLayout class="rz-shadow-3">
        <RadzenHeader>
            <MainHeader></MainHeader>
        </RadzenHeader>
        <RadzenBody>
            @Body
        </RadzenBody>
        <RadzenFooter>
            <MainFooter />
        </RadzenFooter>
    </RadzenLayout>
</div>
